databases/orderServiceMongo/journal/WiredTigerLog.0000000005
databases/customerServiceMongo/journal/WiredTigerLog.0000000002
databases/shippingServiceMongo/journal/WiredTigerLog.0000000002
ASampleDevelop/productServiceRust/target/debug/deps/librocket-eb8af1ec170dea6d.rlib
databases/productServiceMongo/journal/WiredTigerLog.0000000018
ASampleDevelop/productServiceRustMongo/target/debug/product_service_rust_mongo.pdb
ASampleDevelop/productServiceRustMongo/target/debug/deps/productServiceRustMongo.pdb
ASampleDevelop/productServiceRust/target/debug/deps/libmongodb-4a373945ef438a09.rlib
ASampleDevelop/productServiceRustMongo/target/debug/deps/libmongodb-abb15eb0bfb017af.rlib